<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <!-- // TODO #2 - display the job fields, one per row -->
<h1>Job Detail:</h1>
<!--<h2 th:text="333333333">55555555555555</h2>

<h2 th:text="${String}">44444444</h2>-->


    <table th:replace="list-jobs :: single-job"></table>

    <!-- <table th:replace="list-jobs :: single-job"></table> -->

</div>

</body>
</html>